<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mhq0123.officialwebsite.microservice.customer.login.mapper.CustomerLoginMapper">
    <insert id="insert" parameterType="com.mhq0123.officialwebsite.microservice.customer.invoker.login.bean.CustomerLogin"
            useGeneratedKeys="true" keyProperty="loginId">
      INSERT INTO CUSTOMER_LOGIN (
            ACCOUNT_ID,
            SOURCE_SYSTEM,
            NETWORK_ADDRESS,
            REAL_PLACE,
            TERMINAL_TYPE,
            EQUIPMENT_IDENTITY,
            STATUS
        ) VALUES (
            #{accountId,                  jdbcType=INTEGER},
            #{sourceSystem,               jdbcType=VARCHAR},
            #{networkAddress,             jdbcType=VARCHAR},
            #{realPlace,                  jdbcType=VARCHAR},
            #{terminalType,               jdbcType=VARCHAR},
            #{equipmentIdentity,          jdbcType=VARCHAR},
            #{status,                     jdbcType=VARCHAR}
        )
    </insert>

    <delete id="deleteById" parameterType="java.lang.Integer">
      DELETE FROM
        CUSTOMER_LOGIN T
      WHERE T.LOGIN_ID = #{loginId, jdbcType=INTEGER}
    </delete>


    <select id="selectById" resultType="com.mhq0123.officialwebsite.microservice.customer.invoker.login.bean.CustomerLogin">
        SELECT T.*
          FROM CUSTOMER_LOGIN T
        WHERE T.LOGIN_ID = #{loginId, jdbcType=INTEGER}
    </select>

</mapper>