<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mhq0123.officialwebsite.microservice.customer.account.mapper.CustomerAccountMapper">
    <insert id="insert" parameterType="com.mhq0123.officialwebsite.microservice.customer.invoker.account.bean.CustomerAccount"
            useGeneratedKeys="true" keyProperty="accountId">
      INSERT INTO CUSTOMER_ACCOUNT(
			ACCOUNT_NAME,
			PASSWORD,
			EMAIL,
			NICK_NAME,
			REAL_NAME,
			SEX,
			PHONE_NO,
			STATUS,
			INST_DATE
		)VALUES(
			#{accountName, 	    jdbcType=VARCHAR},
			#{password, 		jdbcType=VARCHAR},
			#{email, 	        jdbcType=VARCHAR},
			#{nickName, 	    jdbcType=VARCHAR},
			#{realName, 		jdbcType=VARCHAR},
			#{sex,	            jdbcType=VARCHAR},
			#{phoneNo, 	        jdbcType=VARCHAR},
			#{status, 	        jdbcType=VARCHAR},
			CURDATE()
		)
    </insert>

    <delete id="deleteById" parameterType="java.lang.Integer">
      DELETE FROM
        CUSTOMER_ACCOUNT
      WHERE ACCOUNT_ID = #{accountId, jdbcType=INTEGER}
    </delete>

    <update id="updateById" parameterType="com.mhq0123.officialwebsite.microservice.customer.invoker.account.bean.CustomerAccount">
      UPDATE CUSTOMER_ACCOUNT T
      <set>
        <if test="password != null">
          T.PASSWORD = #{password, 		jdbcType=VARCHAR},
        </if>
        <if test="email != null">
          T.EMAIL = #{email, 		jdbcType=VARCHAR},
        </if>
        <if test="nickName != null">
          T.NICK_NAME = #{nickName, 		jdbcType=VARCHAR},
        </if>
        <if test="realName != null">
          T.REAL_NAME = #{realName, 		jdbcType=VARCHAR},
        </if>
        <if test="sex != null">
          T.SEX = #{sex, 		jdbcType=VARCHAR},
        </if>
        <if test="phoneNo != null">
          T.PHONE_NO = #{phoneNo, 		jdbcType=VARCHAR},
        </if>
        <if test="status != null">
          T.STATUS = #{status, 		jdbcType=VARCHAR},
        </if>
      </set>
      WHERE T.ACCOUNT_ID = #{accountId, jdbcType=INTEGER}
    </update>

    <select id="selectById" resultType="com.mhq0123.officialwebsite.microservice.customer.invoker.account.bean.CustomerAccount">
        SELECT T.*
          FROM CUSTOMER_ACCOUNT T
        WHERE T.ACCOUNT_ID = #{accountId, jdbcType=INTEGER}
    </select>

    <select id="selectByName" resultType="com.mhq0123.officialwebsite.microservice.customer.invoker.account.bean.CustomerAccount">
        SELECT T.*
        FROM CUSTOMER_ACCOUNT T
        WHERE T.ACCOUNT_NAME = #{accountName, jdbcType=VARCHAR}
    </select>

    <select id="selectByEmail" resultType="com.mhq0123.officialwebsite.microservice.customer.invoker.account.bean.CustomerAccount">
        SELECT T.*
        FROM CUSTOMER_ACCOUNT T
        WHERE T.EMAIL = #{email, jdbcType=VARCHAR}
    </select>
</mapper>